PORT=5000
# Update the connection string with your own database credentials
DATABASE_URL="postgresql://<db_username>:<db_password>@localhost:5432/<db_name>?schema=public"
# Replace with a custom secret key of your choice for session signing
JWT_SECRET="your_jwt_signing_secret_key_here"
